<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ihm.androide.upmc.manekineko">

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/lucky_cat"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/lucky_cat"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- android:roundIcon="@mipmap/ic_launcher_round" -->

        <activity android:name=".design.WelcomeActivity">

        </activity>
        <activity android:name=".design.ExplorationActivity" />
        <activity android:name=".database.UserConnectionActivity">
        </activity>
        <activity android:name=".design.AppetizerActivity">

        </activity>
        <activity android:name=".design.OrderActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
    </application>

</manifest>